[Unit]
Description=Bind mount for /etc/nvpmodel.conf
Requires=resin-state.service resin-state-reset.service
After=resin-state.service resin-state-reset.service

[Mount]
What=/mnt/state/root-overlay/etc/nvpmodel-config
Where=/etc/nvpmodel-config
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
